.portal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(95, 95, 95, 0.801);
  z-index: 1000;
}

.addTodoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: max-content;
  justify-content: center;
  position: fixed;
  background: #ada39f;
  z-index: 1000;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;

  .addTodoTitle {
    font-size: 1.125rem;
    font-weight: 400;
  }

  .todoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    .todoInput {
      padding: 7px 12px;
      border-radius: 5px;
      border: none;
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      resize: none;
      width: 300px;
      height: 50px;
      text-align: center;
    }

    .todoInput:focus {
      background-color: rgb(218, 218, 218);
      outline: none;
    }

    .errorMessage {
      font-size: 0.75rem;
      color: rgb(197, 59, 34);
      visibility: hidden;
    }

    .errorMessage--show {
      visibility: visible;
    }

    .error {
      border: solid 1px rgb(197, 59, 34);
    }

    .addBtn {
      width: 300px;
      padding: 7px 15px;
      border: none;
      letter-spacing: 0.5em;
      border-radius: 5px;
      background-color: rgba(146, 119, 163);
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      font-weight: 800;
      cursor: pointer;
    }
  }

  .close-modal-btn {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

    svg {
      color: rgb(0, 0, 0);
    }
    svg:hover {
      color: rgb(168, 51, 51);
    }
  }
}
