.portal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(95, 95, 95, 0.603);
  z-index: 1000;
}

.addTodoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  justify-content: flex-start;
  position: fixed;
  background: #faf7f0;
  z-index: 1000;
  padding: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;

  .todoForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 1em;

    div {
      display: flex;
      flex-direction: column;
      gap: 2em;

      .todoInput {
        padding: 7px 12px;
        border-radius: 5px;
        border: 1px solid black;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        resize: none;
        width: 300px;
        height: 50px;
        text-align: center;
      }

      .todoInput:focus {
        background-color: rgb(218, 218, 218);
        outline: none;
      }

      .todoInput-title {
        font-size: 1.125rem;
        font-weight: 700;
        letter-spacing: 0.25rem;
        height: fit-content;
      }

      .errorMessage {
        font-size: 0.75rem;
        color: rgb(197, 59, 34);
        visibility: hidden;
      }

      .errorMessage--show {
        visibility: visible;
      }

      .error {
        border: solid 1px rgb(197, 59, 34);
      }
    }

    .addBtn {
      width: 300px;
      padding: 12px 15px;
      border: none;
      letter-spacing: 0.5em;
      border-radius: 5px;
      background-color: #98a8f8;
      color: black;
      text-transform: uppercase;
      font-size: large;
      font-weight: 800;
      cursor: pointer;
    }
  }

  .close-modal-btn {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

    svg {
      color: rgb(0, 0, 0);
    }
    svg:hover {
      color: rgb(168, 51, 51) !important;
    }
  }
}
