
.activity-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.activity-table th {
  font-weight: bold;
  text-align: left;
  padding: 8px;
  border: 2px solid black;
  background-color: #bccef8;
}

.activity-table td {
  padding: 8px;
  border: 1px solid black;
}

.activity-table tr:nth-child(even) {
  background-color: #bccef8a6;
}

.activity-table tr:hover {
  background-color: #bccef8;
}
