.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  .btn-clearLog {
    width: 100px;
    padding: 10px 20px;
    cursor: pointer;
  }

  svg {
    color: rgb(66, 66, 66);
    cursor: pointer;
  }

  svg:hover {
    transform: scale(1.25);
  }
}

.activity-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 10px;
}

.activity-col {
  border: 1px solid #ccc;
  padding: 10px;
  font-weight: bold;
}

.activity-col.activity-col-th {
  background-color: #bccef8;
}

@media screen and (max-width: 768px) {
  .activity-grid {
    font-size: 0.75rem;
    overflow-x: scroll;
  }
}
