.listContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;

  .header {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    place-items: center;
    margin: 20px 0;

    .taskInfoContainer {
      display: flex;
      width: 200px;
      flex-direction: column;
      gap: 10px;
      color: white;
    }

    .filter {
      padding: 10px;
      font-size: 1.125rem;
      border-radius: 5px;
    }

    .showModalBtn {
      width: 300px;
      padding: 10px 0;
      cursor: pointer;
      background-color: rgba(250, 235, 215, 0.534);
      border: none;
      border-radius: 5px;
      font-size: 1.5rem;
      font-weight: 800;
      letter-spacing: 0.25rem;
      color: white;
    }
  }

  .taskCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-items: center;
    gap: 40px;

    .taskCard {
      width: 300px;
      height: 300px;
      text-align: start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 7px 15px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);

      .cardInfoContainer {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .task__title {
          padding: 10px;
          font-size: 1.125rem;
          letter-spacing: 0.125rem;
          border-radius: 5px;
          border: none;
          width: 100%;
          background-color: azure;
        }

        .task__content {
          background-color: azure;
          padding: 10px;
          font-size: 1.125rem;
          letter-spacing: 0.125rem;
          border-radius: 10px;
          border: none;
          width: 100%;
          height: 70%;
          resize: none;
        }
      }

      .task__content.complete {
        text-decoration: line-through;
        background-color: rgb(185, 250, 86);
        border: none;
      }

      .dateContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
      }


      .itemBtns {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        row-gap: 20px;

        .btnContainer {
          display: flex;
          align-items: center;
          width: 100%;

          .DeleteIcon:hover {
            color: red;
          }

          label {
            min-width: 100px;
          }
        }
        .editContainer {
          justify-content: space-around;
        }

        .itemCheck {
          margin-right: 10px;
          border: none;
          cursor: pointer;
          width: 25px;
          height: 25px;
        }
        .btn {
          padding: 5px 7px;
        }
      }
    }
  }
}
