.listContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;

  .header {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    justify-items: center;
    margin: 20px 0;

    .taskInfoContainer {
      display: flex;
      width: 300px;
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }

    .filter {
      padding: 10px;
      font-size: 1.125rem;
      border-radius: 5px;
      border: #bccef8 solid 2px;
      cursor: pointer;
      max-width: 300px;
    }

    .showModalBtn {
      width: 300px;
      padding: 10px 0;
      cursor: pointer;
      background-color: rgba(250, 235, 215, 0.534);
      border: #bccef8 2px solid;
      border-radius: 5px;
      font-size: 1.5rem;
      font-weight: 800;
      letter-spacing: 0.25rem;
    }
  }

  .taskCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 10px;
    margin-top: 20px;
    overflow-y: scroll;
    height: 390px;
    padding: 20px 20px;
    box-shadow: 2px 2px 4px 2px #d7d7d7;
    border-radius: 5px;

    @media (max-width: 769px) {
      padding: 10px;
    }

    .taskCard {
      width: 300px;
      height: 310px;
      text-align: start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 15px 15px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid #bccef8;

      .cardInfoContainer {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .task__title {
          padding: 10px;
          font-size: 2rem;
          letter-spacing: 0.125rem;
          border-radius: 5px;
          border: none;
          width: 100%;
          color: #8670ff;
          text-transform: uppercase;
          text-align: center;
        }

        .task__content {
          background-color: transparent;
          padding: 10px;
          font-size: 1.13rem;
          // letter-spacing: 0.125rem;
          border-radius: 5px;
          border: #2e3440 1px solid;
          width: 100%;
          height: 70%;
          resize: none;
        }

        .task__content:focus {
          outline: none;
        }
      }

      .task__content.complete {
        text-decoration: line-through;
        background-color: #bccef8;
      }

      .dateContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        height: 60px;
        font-size: 0.85rem;
      }

      .itemBtns {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        row-gap: 20px;

        .btnContainer {
          display: flex;
          align-items: center;
          width: 100%;

          .DeleteIcon:hover {
            color: red;
          }

          label {
            margin-right: 28px;
            font-size: 0.85rem;
          }
        }
        .editContainer {
          justify-content: space-around;
        }

        .itemCheck {
          margin-right: 10px;
          border: none;
          cursor: pointer;
          width: 25px;
          height: 25px;
        }
        .btn {
          padding: 5px 7px;
          border: #bccef8 solid 2px;
          border-radius: 5px;
          background-color: transparent;
          cursor: pointer;
        }
        .btn:hover {
          color: #8fa2ff;
          border: black solid 2px;
          background-color: transparent;
        }
        .btn:disabled {
          pointer-events: none;
        }
      }
    }
  }
}
