*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* display: flex;
  justify-content: center;
  align-items: start;
  color: white; */
  min-height: 100vh;
  background: #a770ef; 
  background: -webkit-linear-gradient(
    to top,
    #fdb99b,
    #cf8bf3,
    #a770ef
  );
  background: linear-gradient(
    to top,
    #fdb99b,
    #cf8bf3,
    #a770ef
  );
}

main {
  min-width: 50%;
  background-color: rgb(62, 49, 73);
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  padding: 4vw;
  padding-top: 2vw;
  align-items: center;
  gap: 1em;
  min-height: 80%;
}

